body{
  font-family:courier,arial,helvética;
  font-size: 15;
  background-color: blueviolet;
  text-align: center
}
.gu-main {
  margin-top: 3px;
  height: 300px;
  display: flex;
}
.gu-main-left{
  width: 1750px;
  height: 250px;
}

.gu-main-right{
  width: 250px;
  height: 250px;
}
.center {
  margin: 2rem 2rem;
}